<div 
     data-role="view" data-title="WalletSaver&trade;" data-layout="main" data-model="APP.models.home">
    
    <h3>Welcome to WallerSaver&trade;</h3> 
    <p>
        WalletSaver&trade; enables you to save time and money when purchasing your grocery item. 
        Using coupons can be a hassle, but no fear, there's an app for that! Give WalletSaver&trade; a try, you just might like it.
        Best part is, once you save your grocery list on WalletSaver&trade;, we'll tell you where to find your groceries cheaper based on the value of the items after applicable coupons.
        Now that's more bang for your buck!
    </p>   
    <p>Try it out now. You be the judge! </p>
    <p>Click start below or select the list option on the tab to start building your grocery list and start saving!</p>
    <div> 
        <p><a href="views/list.html" data-role="button" data-icon="play">Start Saving!</a></p>
    </div>
</div>